.product-container{
  /* background-color: aliceblue; */
  
  padding: 20px 40px;
  margin:100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:10px;
  box-shadow: 2px 2px 10px 2px rgb(234, 234, 234);
}
.product-container button{
  font-size: 15px;
  padding:6px 15px;
  border-radius: 20px;
}
.laptop-info p{
  display:flex;
  justify-content: space-between;
    align-items: center;
    span:first-child{
      font-weight: bold;
    }
    span:last-child{
       color: rgb(104, 104, 104);
    }
}
.product-name{
  font-size: 25px;
}
/* .star{
  font-size: 18px;
  color: gray;
  cursor: pointer;
}
.active{
  color: goldenrod;
} */
.AddedFav{
  color: red;
}