.products-title {
  margin: 50px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.products-title::before,
.products-title::after {
  content: "";
  display: inline-block;
  width: 100px;
  height: 3px;

  background-color: cornflowerblue;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.filter {
  /* background-color: aliceblue; */
  text-align: center;
  padding-bottom: 20px;
}

.filter .btn {
  margin-left: 10px;
  border-radius: 20px !important;
}